@import "../base/_colors";

#preview-label {
    position: absolute;
    color: $preview-label-color;
    background-color: $preview-box-color;
    top: 0px;
    display: inline;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}