$main-color: rgb(192, 52, 68);
$shadow-color: rgb(248, 133, 133);
$active-color: white;
$success: green;
$main-color-a: rgba(192, 52, 68, 0.6);
$hover-color: rgb(240, 240, 240);
$nav-text-color: rgb(248, 133, 133);
$preview-label-color: white;
$preview-box-color: rgba(0, 0, 0, 0.555);