.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.indexWidth {
  width: 10%;
  text-align: center;
}

.vocaWidth {
  text-align: center;
}

@media print {
  @page {
    size: a4;
    margin-top: 20mm;
  }

  .table td {
    background-color: transparent !important;
  }
}
