.table {
  word-wrap: break-word;
}

.indexWidth {
  width: 10%;
  text-align: center;
}

.vocaWidth {
  table-layout: fixed;
  width: 45%;
  text-align: center;
}

@media print {
  .a4 {
    page-break-after: always;
    margin-top: 10mm
  }

  .table td {
    background-color: transparent !important;
  }
}
