@import "../base/_colors";

.nav {
  background-color: white;
  box-shadow: 0px 1px $main-color;
  font-weight: bold;
}

a {
  color: $main-color;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }

  &:active {
    color: $active-color;
  }

  &:focus {
    color: $active-color;
  }
}

.router-link-exact-active {
  color: $main-color;
}
