@import "../base/_colors";

.nav {
    background-color: white;
    box-shadow: 0px 1px $main-color;
    font-weight: bold;
  }
  a {
    color:$main-color;
  }
   a:hover {
    color:$main-color;
    text-decoration: none;
  }
  .router-link-exact-active {
  color: $main-color;
}